<div class="row g-0">
  <div class="col-md-4">
    <img
      src="{{ compound.strImageSource }}"
      class="img-fluid rounded-start"
      alt="..."
    />
  </div>

  <div class="col-md-8">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{ compound.CompoundName }}</h5>

        <fa-icon
          [ngStyle]="{ color: 'red' }"
          [icon]="faTimes"
          (click)="onDelete($event, compound)"
        ></fa-icon>
      </div>

      <p class="card-text">
        {{ compound.CompoundDescription }}
      </p>

      <p class="card-text">
        <small class="text-muted">
          {{ compound.strImageAttribution }}
          <br />
          id: {{ compound.id }}
        </small>
      </p>
    </div>
  </div>
</div>
