<div class="row g-0">
  <div class="col-md-4">
    <img
      src="{{ compound.strImageSource }}"
      class="img-fluid rounded-start"
      alt="..."
    />
  </div>

  <div class="col-md-8 text-center">
    <div class="card-body">
      <h5 class="card-title">{{ compound.CompoundName }}</h5>
    </div>
  </div>
</div>

<div class="row g-0 d-flex justify-content-end mt-0">
  <p class="card-text text-end">
    <small class="text-muted"> Last edited: {{ getFormattedTimeAgo() }} </small>
  </p>

  <button
    type="button"
    class="btn btn-sm btn-secondary col-2 me-3"
    (click)="onEdit($event, compound)"
  >
    Edit
  </button>

  <button
    type="button"
    class="btn btn-sm btn-outline-danger col-2"
    (click)="onDelete($event, compound)"
  >
    Delete
  </button>
</div>
