<div class="d-flex justify-content-center">
  <div class="mt-5 about">
    <h1 class="text-center mb-3">About the Project</h1>

    <p>
      A full-stack web app that aims to assist users searching for chemical
      compounds in an organized manner, where users can read, edit, create or
      delete compounds.
    </p>

    <a href="https://github.com/masterMav/nuvertos_assignment" class="mt-5">
      Checkout Github for more
      <fa-icon
        [ngStyle]="{ color: 'grey' }"
        [icon]="faGithub"
        class="fa-xl ms-2"
      ></fa-icon>
    </a>
    <div>Made by Manavkumar Patel.</div>
  </div>
</div>
